<?xml version="1.0" encoding="utf-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <contextName>learnboot</contextName>
    <property name="console_pattern"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){blue} %clr(%5level) %clr(${PID:- }){magenta} --- [%-12.12thread] %-35.35logger{34} : %m%n%ex"/>
    <property name="file_pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5level ${PID:- } --- [%thread] %-45.45logger{44} : %m%n%ex"/>

    <property name="dev_log_file" value="D:\\codeProject\\git_repo\\springboot-learn\\log\\dev-app.log"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console_pattern}</pattern>
        </encoder>
        <target>System.out</target>
    </appender>

    <appender name="DEV_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${dev_log_file}</file>
        <append>true</append>
        <encoder>
            <pattern>${file_pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${dev_log_file}.%d{yyyy-MM-dd}.%i。log</fileNamePattern>
            <!--日志数量最大保存时间，根据设置的fileNamePattern来确定翻转周期
                如本例中为%d{yyyy-MM-dd}，则翻转周期为天-->
            <maxHistory>30</maxHistory>
            <!--每个文件最大保存大小-->
            <maxFileSize>10MB</maxFileSize>
            <!--日志文档的总大小-->
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
    </appender>
</configuration>